body {
  background-color: #fafafa;
  font-family: Arial;
  padding: 20px;
}

h1 {
  color: #2b5797;
}

button {
  background-color: #2b5797;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
}
